h1{
	font-size: 42px;
	font-style: italic;
}

h4{
	font-size: 30px;
	font-style: italic;
}

h5{
	color: green;
	font-size: 24px;
}

img#lucy{
	border: 3px white;
	border-radius:999999999999999px;
	float: right;
	height: 250px;
}

body {
	font-family: 'Dosis';
	background: url(cheval-burger.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

p, li{
	line-height: 26px;
}

a:hover {
	color: black;
	font-size: 32px;
}

div#wrapper {
	background-color: rgba(250,250,250,0.7);
	width: 960px;
	margin: 20px auto;
	padding: 20px;
}

th{
	font-size: 20px;
	font-color: white;
	font-style: italic;
}