body {
  font-family: "Times New Roman", Georgia, Serif;
  color: black;
  font-weight: 400;
  font-size: 16pt;
  background: url() no-repeat;
  background-size: cover;

}
#wrapper {
  width: 650px;
  margin: 40px auto;
}
