body {
  font-family: "Times New Roman", Georgia, Serif;
 color: white;
  font-weight: 400;
  background: url(17878-hd-color-background-wallpaper.jpg) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
